.AddChannel {
    height: 15%;
    padding: 10px 20px;
    background-color: #e2e3e5;
}

.AddChannelHeader {
    font-size: 12px;
}

.AddChannelForm {
    display: flex;
}

.AddChannelButton {
    margin-left: 10px;
}