.AddChannel {
    height: 15%;
    padding: 10px 20px;
    background-color: #e2e3e5;
}

.AddChannelHeader {
    font-size: 12px;
    font-weight: bold;
}

.AddChannelForm {
    display: flex;
}

.AddChannelInput {
    font-size: 10px;
    color: darkgray;
}

.AddChannelButton {
    font-size: 10px;
    margin-left: 10px;
}