.Channels {
    height: 85%;
    background-color: #343a40;
    padding: 20px;
}

.ChannelsList {
    padding: 0px;
    height: 100%;
    overflow: scroll;
}

.ChannelsElement {
    color: darkgray;
    cursor: pointer;
    list-style-type: none;
    
    &:before {
        content: "# ";    
    }

    &:hover {
        color: white;
    }
}

.ChannelsElement--active {
    color: white; 

    .ChannelsForm {
        display: flex;
    }
}

.ChannelsName {
    font-weight: bold;
}

.ChannelsTopic {
    font-size: 11px;
    font-style: italics;
    display: block;
    padding-bottom: 10px;
}

.ChannelsForm {
    display: none;
}

.ChannelsInput {
    font-size: 10px;
}

.ChannelsButton {
    font-size: 10px;
    margin-left: 10px;
}
