.Channels {
    height: 85%;
    background-color: #343a40;
    padding: 20px;
}

.ChannelsList {
    padding: 0px;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

.ChannelsElement {
    color: darkgray;
    cursor: pointer;
    list-style-type: none;

    &:hover {
        color: white;
    }
}

.ChannelsElement--active {
    color: white; 

    .AddUserNameForm {
        display: flex;
    }
}

.ChannelsName {
    font-weight: bold;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}

.ChannelsTopic {
    font-size: 11px;
    font-style: italics;
    display: block;
    padding-bottom: 10px;
}

.ChannelsUser {
    color: white;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 5px;
    text-align: center;
}
